[edit]
command = "nvim"

[merge]
command = "nvim"
args = ["-d", "SOURCE", "TARGET"]

[data]
{{ if eq .chezmoi.hostname "framework" -}}
touchpad = "2362:628:PIXA3854:00_093A:0274_Touchpad"
SwapEscape = true
{{ else if eq .chezmoi.hostname "prothean" -}}
touchpad = "2PIXA3854:00 093A:0274 Touchpad"
SwapEscape = true
{{ else }}
SwapEscape = false
{{ end }}
