[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".vifm/colors"]
	path = .vifm/colors
	url = https://github.com/vifm/vifm-colors
[submodule "nvim"]
	path = nvim
	url = git@github.com:BladeWDR/init.lua.git
